<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>javaLab3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signup_processServlet</display-name>
    <servlet-name>signup_processServlet</servlet-name>
    <servlet-class>com.company.servlet.signup_processServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup_processServlet</servlet-name>
    <url-pattern>/signup_processServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_processServlet</display-name>
    <servlet-name>login_processServlet</servlet-name>
    <servlet-class>com.company.servlet.login_processServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_processServlet</servlet-name>
    <url-pattern>/login_processServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerServlet</display-name>
    <servlet-name>QuerServlet</servlet-name>
    <servlet-class>com.company.servlet.QuerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerServlet</servlet-name>
    <url-pattern>/QuerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherChangeServlet</display-name>
    <servlet-name>teacherChangeServlet</servlet-name>
    <servlet-class>com.company.servlet.teacherChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherChangeServlet</servlet-name>
    <url-pattern>/teacherChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleCallbackServlet</display-name>
    <servlet-name>GoogleCallbackServlet</servlet-name>
    <servlet-class>com.company.servlet.GoogleCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCallbackServlet</servlet-name>
    <url-pattern>/GoogleCallbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.company.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>